@import url('<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Montserrat', sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.text-separator{
    width: 200px;
    height: 3px;
    background-color: #fcd66c;
}
.img-hover{
    width: 100%;
    background-color: #fcd66c;
    height: 100%;
    position: absolute;
    bottom: 0;
    display: none;
    
        h3{
            text-align: center;
            color: white;
            text-transform: uppercase;
            font-weight: 300;
            margin-top: 30%;
            display: none;
        }
        h4{
            text-align: center;
            color: white;
            font-weight: 300;
            margin-top: 30%;
            display: none;
        }
    
}